@font-face {
    font-family: '04b03Regular';
    src: url('../assets/fonts/04b_03__-webfont.eot');
    src: url('../assets/fonts/04b_03__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/04b_03__-webfont.woff') format('woff'),
         url('../assets/fonts/04b_03__-webfont.ttf') format('truetype'),
         url('../assets/fonts/04b_03__-webfont.svg#04b03Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

body {
    background: #000;
    color: #fff;
    font-family: '04b03Regular';
}

canvas {
    display: block;
    margin: auto;
}

